pre, code, tt {font:12px "Dejavu Sans Mono", Monaco, 'andale mono', 'lucida console', monospace; line-height:1.5;}

p { font-family: Georgia }

li.post { border-top: 1px solid #eee; padding: 0.25em; }

.date, .tag, .author  { display: inline }
.tag   { display: inline; padding: 2px 4px; background-color: #eee; border: solid 1px #ddd }
.tags  { padding-top: 0.5em; padding-bottom: 1em; }
