
body {
    padding: 10px 15%;
}

p, .footer { 
    font-family: 'Segoe UI', 'Calibri', 'Open Sans', sans-serif; 
    font-size: 11pt;
    font-weight: normal;
    line-height: 1.3em;
    color: #111;
    margin: 11pt 0;
    text-align: justify;
}

.footer {
	text-align: center;
}

h1, h2 {
    font-family: 'Cambria', 'Calibri', 'Buxton Sketch', 'Georgia';
    font-size: 44pt;
	line-height: 1em;
	/*~ font-style: italic; */
    font-weight: bold;
}

h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 5pt -10px 0pt;
}

h2 {
    color: #999;
    font-size: 24pt;
    margin: 5pt 0px -10pt;
    padding: 0;
}
