<!DOCTYPE html>
<head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Roman Hubáček">
    <meta name="google-site-verification" content="-7cdfOV7SHcWDu72wq8g4BU-rP4WzL48-K1h4lt8AVs">
    <link rel="alternate" type="application/rss+xml" href="/atom.xml" title="bvr">
    <link rel="stylesheet" href="/css/new.css" type="text/css">
</head>
<body>
<div class="container"><!-- showgrid -->
    <h1><b><a href="/">bvr</a></b></h1>

    {{ content }}

</div>
</body>
</html>
