<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>{{ page.title }}</title>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">    
    <link rel="stylesheet" href="/css/output.css">
    <meta name="author" content="Roman Hubáček">
    <link rel="alternate" type="application/rss+xml" href="/atom.xml" title="bvr">
    <link rel="stylesheet" href="/css/syntax.css" type="text/css">
    <script src=" https://cdn.jsdelivr.net/npm/mermaid@11.4.0/dist/mermaid.min.js "></script>
</head>
<body>

<div class="w-screen h-screen grid grid-cols-[500px_1fr] grid-rows-1 gap-0 overflow-hidden">
<nav class="p-3 bg-slate-50 border-r border-slate-200">
    <p class="font-bold mb-1 flex items-center gap-2">
        <button aria-label="Close sidebar" class="md:hidden menu-trigger-close p-1 rounded text-slate-800 dark:text-slate-50 hover:bg-slate-200 dark:hover:bg-slate-700">
            <svg class="h-6 w-6" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentcolor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"/>
            <line x1="18" y1="6" x2="6" y2="18"/>
            <line x1="6" y1="6" x2="18" y2="18"/>
            </svg>
        </button>
        <a href="{{ site.url }}" class="px-2 rounded-md hover:bg-slate-200"><span class="text-xl text-slate-400">BVR</span></a>
        <a class="px-2 py-1.5 rounded-md text-sm block text-slate-800 dark:text-slate-50 hover:bg-slate-200 dark:hover:bg-slate-700" href="https://github.com/bvr" target=_blank rel="noopener noreferrer">
            <span class=sr-only>GitHub</span>
            <span>
                <svg class="h-4 w-4" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37.0 00-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44.0 0020 4.77 5.07 5.07.0 0019.91 1S18.73.65 16 2.48a13.38 13.38.0 00-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07.0 005 4.77 5.44 5.44.0 003.5 8.55c0 5.42 3.3 6.61 6.44 7A3.37 3.37.0 009 18.13V22"/>
                </svg>
            </span>
        </a>
        <a class="px-2 py-1.5 rounded-md text-sm block text-slate-800 dark:text-slate-50 hover:bg-slate-200 dark:hover:bg-slate-700" href=/atom.xml target=_blank rel="noopener noreferrer">
            <span class=sr-only>RSS</span>
            <span>
                <svg class="h-4 w-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentcolor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z"/>
                    <circle cx="5" cy="19" r="1"/>
                    <path d="M4 4a16 16 0 0116 16"/>
                    <path d="M4 11a9 9 0 019 9"/>
                </svg>
            </span>
        </a>
    </p>
    <label class="mb-2 block px-2"><span></span>
        <input type="text" placeholder="Search articles" class="searchInput bg-white rounded px-2 py-1 w-full border">
    </label>
    <script>
        const searchElt = document.querySelector('.searchInput')
        if (searchElt) {
          searchElt.addEventListener('input', evt => {
            const value = evt.target.value || '';
      
            const articles = document.querySelectorAll('.article')
            if (!value) {
              articles.forEach(article => article.classList.remove('hidden'))
            } else {
              articles.forEach(article => article.classList.add('hidden'))
              Array.from(articles).filter(article => {
                const title = article.innerText
                if (!title) return false;
      
                return title.toLowerCase().includes(value.toLowerCase())
              }).forEach(article => article.classList.remove('hidden'))
            }
          })
        }
      </script>
      <div class="overflow-y-auto" style="height:95%"><ul class="list-none">
        {%- for post in site.posts -%}
        {%- unless post.preview -%}
        <li class="{% if post.url == page.url%}bg-slate-900 text-slate-200{% else %}text-slate-800 hover:bg-slate-200{% endif %}"><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" class="article block px-3 py-0"><span class="text-slate-400 py-2 rounded-md"><time datetime="{{ post.date | date_to_xmlschema }}"></time>{{ post.date | date: "%Y-%m-%d" }}</span> <span>{{ post.title }}</span> <span class=hidden>{{ post.tags | join: " " }}</span></a></li>
        {% endunless -%}
        {%- endfor -%}
    </ul></div>
</nav>

<div class="overflow-y-auto w-xl">
<article class="px-6 py-10 w-full mx-auto prose lg:prose-base h-fit prose-img:mx-auto max-w-4xl">

{{ content }}

</article>
</div>
        
</div>

</body>
<script>
var config = {
    startOnLoad:true,
    theme: 'forest',
    flowchart:{
        useMaxWidth:false,
        htmlLabels:true
    }
};
mermaid.initialize(config);
window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
</script>
</html>
