---
layout: default
---
    <div class="span-16">
        <div class="date"><time datetime="{{ page.date }}" pubdate>{{ page.date | date_to_string }}</time></div><div class="author"> by Roman Hubacek</div>
        <div class="tags">
        {% for tag in page.tags %}
        <div class="tag">{{ tag }}</div>
        {% endfor %}
        </div>
        <h1>{{ page.title }}</h1>
        
        {% if page.perex != '' %}
        <p class="perex">{{ page.perex }}
        </p>
        {% endif %}
        

        {{ content }}

    </div>
    <div class="sidebar span-8 last">
        {% include search.html %}

    <div class="sidebar span-4">
        <h3>Recent</h3>

        <ul>
        {% for post in site.posts offset: 0 limit: 5 %}
        <li class="post"><a href="{{ post.id }}/">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h3>Related</h3>
        <ul>
        {% for post in site.related_posts limit: 5 %}
        <li class="post"><a href="{{ post.id }}/">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

    </div>
    <div class="sidebar span-4 last">
        <h3>Last Bookmarks</h3>
        <script type="text/javascript" src="http://feeds.delicious.com/v2/js/bobr123/dev?title=Recent%20Bookmarks&icon=m&count=15&sort=date"></script>

    </div>
    </div>
